/*  =======================================
        PERSON
======================================= */
section.person {
  background-color: transparent;
}
section.person .person-greeting,
section.person .person-info {
  position: fixed;
  bottom: 0;
  left: 50%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  /* width: 275px; */
  /* width: 100%; */
  max-width: 340px;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 20%);
  overflow: hidden;
  background-color: #eee;
  transform: translate(-50%, 100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.75s cubic-bezier(0.4, 0, 0.2, 1);
}
section.person .person-greeting.show,
section.person .person-info.show {
  transform: translate(-50%, 0);
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 400px) {
  section.person .person-greeting,
  section.person .person-info {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 375px) {
  section.person .person-greeting,
  section.person .person-info {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 350px) {
  section.person .person-greeting,
  section.person .person-info {
    margin-left: 0;
  }
}

/* Person Greeting */
section.person .person-greeting {
  z-index: 99999;
  height: 65px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  padding-right: 15px;
}
section.person .person-greeting > div {
  padding: 10px;
  /* background-color: palevioletred; */
}
section.person .person-greeting > div:first-of-type {
  margin-left: 15px;
}
section.person .person-greeting > div:last-of-type {
  /* background-color: lightseagreen; */
  flex: 1;
}

@media only screen and (max-width: 425px) {
  section.person .person-greeting > div {
    padding: 5px;
  }
  section.person .person-greeting > div:first-of-type {
    margin-left: 8px;
    margin-right: 4px;
  }
}

/* Person Info */
section.person .person-info {
  z-index: 99980;
}
section.person .person-info .person-details {
  padding: 15px 10%;
  margin-top: 20px;
  margin-bottom: 5px;
}
section.person .person-info > div {
  width: 100%;
}
section.person .person-info .person-close {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-flex;
  cursor: pointer;
  transition: all 0.25s ease-out 0s;
}
section.person .person-info .person-close .person-close-icon {
  display: block;
  width: 27px;
  height: auto;
  margin: 0 auto;
  fill: none;
}
section.person .person-info .person-close .person-close-icon .cls-1 {
  fill: white;
  fill-opacity: 0.01;
}
section.person .person-info .person-close .person-close-icon .cls-2 {
  stroke: #333;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}
section.person .person-info .person-close:hover {
  background-color: rgb(0 0 0 / 2.5%);
}

@media only screen and (max-width: 425px) {
  section.person .person-info .person-details {
    padding: 15px 7.5%;
  }
}

/* Person Tags */
section.person p {
  font-family: var(--roboto);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
}
section.person .person-name {
  font-family: var(--roboto);
  font-weight: 400;
  line-height: 1;
  color: #000000;
}
section.person .person-name.small {
  font-size: 17px;
  margin-top: 2px;
}
section.person .person-name.large {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
  line-height: 1.2;
}
section.person .person-powered {
  color: #555;
  font-style: italic;
  font-size: 11px;
  margin-top: 15px;
  display: block;
  font-family: var(--roboto);
}
section.person .person-powered > a {
  color: #222;
  text-decoration: none;
  font-family: inherit;
}
section.person .person-envelope-icon {
  display: block;
  fill: none;
  width: 27px;
  height: auto;
}
section.person .person-envelope-icon .cls-1 {
  stroke: #111;
  stroke-width: 0.5;
}
section.person .person-envelope-open {
  display: block;
  width: 100%;
  height: auto;
  fill: none;
  margin-bottom: -5px;
}
section.person .person-envelope-open .cls-1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: white;
}
section.person .person-envelope-open .cls-2 {
  stroke: #b5b2c5;
  stroke-width: 0.44426;
  stroke-linecap: round;
  stroke-linejoin: bevel;
}

.areplyr {
  position: fixed;
  bottom: 50%;
  left: -48px;
  z-index: 9999;
  background-color: #eee;
  padding: 8px 8px 8px 10px;
  display: inline-flex;
  border-radius: 0 50px 50px 0;
  transition: all 0.5s ease;
  border: 1px solid #d7d7d7;
}
.areplyr:hover {
  left: 0;
}
.areplyr .vnyldisc {
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.anim-spin {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
