/*  =======================================
        PERSON
======================================= */
section.person {
  background-color: transparent;
}
section.person .person-greeting,
section.person .person-info {
  position: fixed;
  bottom: 0;
  left: 50%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  /* width: 275px; */
  width: 100%;
  max-width: 340px;
  box-shadow: 0 0 2px 0.5px rgb(0 0 0 / 20%);
  overflow: hidden;
  background-color: #eee;
  transform: translate(-50%, 100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.75s cubic-bezier(0.4, 0, 0.2, 1);
}
section.person .person-greeting.show,
section.person .person-info.show {
  transform: translate(-50%, 0);
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 400px) {
  section.person .person-greeting,
  section.person .person-info {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 375px) {
  section.person .person-greeting,
  section.person .person-info {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 350px) {
  section.person .person-greeting,
  section.person .person-info {
    margin-left: 0;
  }
}

/* Person Greeting */
section.person .person-greeting {
  z-index: 99999;
  height: 65px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  padding-right: 15px;
}
section.person .person-greeting > div {
  padding: 10px;
  /* background-color: palevioletred; */
}
section.person .person-greeting > div:first-of-type {
  margin-left: 15px;
}
section.person .person-greeting > div:last-of-type {
  /* background-color: lightseagreen; */
  flex: 1;
}

@media only screen and (max-width: 425px) {
  section.person .person-greeting > div {
    padding: 5px;
  }
  section.person .person-greeting > div:first-of-type {
    margin-left: 8px;
    margin-right: 4px;
  }
}

/* Person Info */
section.person .person-info {
  z-index: 99980;
}
section.person .person-info .person-details {
  padding: 15px 10%;
  margin-top: 20px;
  margin-bottom: 5px;
}
section.person .person-info > div {
  width: 100%;
}
section.person .person-info .person-close {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-flex;
  cursor: pointer;
  transition: all 0.25s ease-out 0s;
}
section.person .person-info .person-close .person-close-icon {
  display: block;
  width: 27px;
  height: auto;
  margin: 0 auto;
  fill: none;
}
section.person .person-info .person-close .person-close-icon .cls-1 {
  fill: white;
  fill-opacity: 0.01;
}
section.person .person-info .person-close .person-close-icon .cls-2 {
  stroke: #333;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}
section.person .person-info .person-close:hover {
  background-color: rgb(0 0 0 / 2.5%);
}

@media only screen and (max-width: 425px) {
  section.person .person-info .person-details {
    padding: 15px 7.5%;
  }
}

/* Person Tags */
section.person p {
  font-family: var(--roboto);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
}
section.person .person-name {
  font-family: var(--roboto);
  font-weight: 400;
  line-height: 1;
  color: #000000;
}
section.person .person-name.small {
  font-size: 17px;
  margin-top: 2px;
}
section.person .person-name.large {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
  line-height: 1.2;
}
section.person .person-powered {
  color: #555;
  font-style: italic;
  font-size: 11px;
  margin-top: 15px;
  display: block;
  font-family: var(--roboto);
}
section.person .person-powered > a {
  color: #222;
  text-decoration: none;
  font-family: inherit;
}
section.person .person-envelope-icon {
  display: block;
  fill: none;
  width: 27px;
  height: auto;
}
section.person .person-envelope-icon .cls-1 {
  stroke: #111;
  stroke-width: 0.5;
}
section.person .person-envelope-open {
  display: block;
  width: 100%;
  height: auto;
  fill: none;
  margin-bottom: -5px;
}
section.person .person-envelope-open .cls-1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: white;
}
section.person .person-envelope-open .cls-2 {
  stroke: #b5b2c5;
  stroke-width: 0.44426;
  stroke-linecap: round;
  stroke-linejoin: bevel;
}

.areplyr {
  position: fixed;
  bottom: 50%;
  left: -36px;
  z-index: 9999;
  background-color: #ffd700;
  padding: 2px 4px 2px 4px;
  display: inline-flex;
  border-radius: 0 50px 50px 0;
  transition: all 0.5s ease;
}
.areplyr:hover,
.areplyr.hoverinactive {
  left: 0;
}
.areplyr .vnyldisc {
  width: 42px;
  height: 42px;
  cursor: pointer;
}
.anim-spin {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*  =======================================
        EFFECTS 
======================================= */
.effects {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  pointer-events: none;
}
.effects > div {
  position: absolute;
  display: block;
  pointer-events: none;
  transition: all 0.25s ease-in-out;
}

/*  =======================================
  EFFECTS - Nanda
======================================= */
.effects.nanda > div {
  /* background-color: rgba(46, 135, 255, 1); */
  width: 25px;
  height: 25px;
}
.effects.nanda > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
  pointer-events: none;
}
.effects.nanda > div:nth-child(1) {
  left: 5%;
  width: 28px;
  height: 28px;
  animation: nanda-effects 20s linear infinite;
  animation-delay: -4s;
}
.effects.nanda > div:nth-child(2) {
  left: 18%;
  animation: nanda-effects 25s linear infinite;
  animation-delay: -7s;
}
.effects.nanda > div:nth-child(3) {
  left: 27%;
  width: 35px;
  height: 35px;
  animation: nanda-effects 15s linear infinite;
  animation-delay: -7s;
}
.effects.nanda > div:nth-child(4) {
  left: 36%;
  animation: nanda-effects 30s linear infinite;
  animation-delay: -2s;
}
.effects.nanda > div:nth-child(5) {
  left: 45%;
  width: 38px;
  height: 38px;
  animation: nanda-effects 25s linear infinite;
  animation-delay: -2s;
}
.effects.nanda > div:nth-child(6) {
  left: 54%;
  width: 20px;
  height: 20px;
  animation: nanda-effects 15s linear infinite;
  animation-delay: -12s;
}
.effects.nanda > div:nth-child(7) {
  left: 63%;
  animation: nanda-effects 20s linear infinite;
  animation-delay: -10s;
}
.effects.nanda > div:nth-child(8) {
  left: 72%;
  animation: nanda-effects 10s linear infinite;
  animation-delay: -2s;
}
.effects.nanda > div:nth-child(9) {
  left: 81%;
  width: 30px;
  height: 30px;
  animation: nanda-effects 25s linear infinite;
  animation-delay: -4s;
}
.effects.nanda > div:nth-child(10) {
  left: 92%;
  animation: nanda-effects 15s linear infinite;
  animation-delay: -7s;
}

@keyframes nanda-effects {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  7%,
  27%,
  47%,
  67%,
  87% {
    opacity: 0;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    opacity: 0.8;
  }
  13%,
  33%,
  53%,
  73%,
  93% {
    opacity: 0;
  }
  7%,
  10%,
  13% {
    top: 10%;
  }
  13% {
    transform: translateX(-30px) rotate(40deg);
  }
  27%,
  30%,
  33% {
    top: 30%;
  }
  33% {
    transform: translateX(20px) rotate(80deg);
  }
  47%,
  50%,
  53% {
    top: 55%;
  }
  53% {
    transform: translateX(-30px) rotate(120deg);
  }
  67%,
  70%,
  73% {
    top: 72%;
  }
  73% {
    transform: translateX(20px) rotate(160deg);
  }
  87%,
  90%,
  93% {
    top: 90%;
  }
  93% {
    transform: translateX(-30px) rotate(200deg);
  }
  100% {
    top: 110%;
    transform: translateX(20px) rotate(240deg);
    opacity: 0;
  }
}

/*  =======================================
  EFFECTS - Chindy
======================================= */
.effects.chindy > div {
  width: 25px;
  height: 25px;
  top: -10%;
}
.effects.chindy.juwita > div {
  width: 17px;
  height: 17px;
}
.effects.chindy > div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
  pointer-events: none;
}
.effects.chindy > div:nth-child(1) {
  left: 7%;
  animation: chindy-effects 15s linear infinite;
  animation-delay: -2s;
}
.effects.chindy.juwita > div:nth-child(1) {
  animation-delay: 1s;
}
.effects.chindy > div:nth-child(2) {
  left: 18%;
  animation: chindy-effects 18s linear infinite;
  animation-delay: -8s;
}
.effects.chindy.juwita > div:nth-child(2) {
  animation-delay: 3s;
}
.effects.chindy > div:nth-child(3) {
  left: 27%;
  animation: chindy-effects 12s linear infinite;
  animation-delay: -4s;
}
.effects.chindy.juwita > div:nth-child(3) {
  animation-delay: 0s;
}
.effects.chindy > div:nth-child(4) {
  left: 36%;
  animation: chindy-effects 22s linear infinite;
  animation-delay: -10s;
}
.effects.chindy.juwita > div:nth-child(4) {
  animation-delay: 1s;
}
.effects.chindy > div:nth-child(5) {
  left: 45%;
  animation: chindy-effects 16s linear infinite;
  animation-delay: -6s;
}
.effects.chindy.juwita > div:nth-child(5) {
  animation-delay: 0s;
}
.effects.chindy > div:nth-child(6) {
  left: 54%;
  animation: chindy-effects 15s linear infinite;
  animation-delay: -14s;
}
.effects.chindy.juwita > div:nth-child(6) {
  animation-delay: -4s;
}
.effects.chindy > div:nth-child(7) {
  left: 63%;
  animation: chindy-effects 20s linear infinite;
  animation-delay: -8s;
}
.effects.chindy.juwita > div:nth-child(7) {
  animation-delay: 2s;
}
.effects.chindy > div:nth-child(8) {
  left: 72%;
  animation: chindy-effects 17s linear infinite;
  animation-delay: -2s;
}
.effects.chindy.juwita > div:nth-child(8) {
  animation-delay: 8s;
}
.effects.chindy > div:nth-child(9) {
  left: 81%;
  animation: chindy-effects 20s linear infinite;
  animation-delay: -10s;
}
.effects.chindy.juwita > div:nth-child(9) {
  animation-delay: 0s;
}
.effects.chindy > div:nth-child(10) {
  left: 92%;
  animation: chindy-effects 10s linear infinite;
  animation-delay: -4s;
}
.effects.chindy.juwita > div:nth-child(10) {
  animation-delay: 4s;
}

@keyframes chindy-effects {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-10px) rotate(45deg);
  }
  40% {
    transform: translateX(20px) rotate(90deg);
  }
  60% {
    transform: translateX(-30px) rotate(135deg);
  }
  80% {
    transform: translateX(20px) rotate(180deg);
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 110%;
    transform: translateX(-30px) rotate(225deg);
    opacity: 0;
  }
}
