/*-------------------------------
    Dark Theme  CSS
-------------------------------*/
.switch-theme-mode {
  position: fixed;
  top: 200px;
  right: 15px;
  z-index: 99;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.round {
  border-radius: 50%;
}

.slider.round:before {
  border-radius: 50%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0px 15px #2020203d;
  box-shadow: 0 0px 15px #2020203d;
  background: white url("../img/night.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #091315;
  background-size: 17px;
}

input:checked + .slider {
  background-color: transparent;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
}

input:checked + .slider:before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  background: white url("../img/sunny.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}

/*---------------------------------
    Color CSS For Elements 
-----------------------------------*/
.theme-light .navbar-brand .logo-dark {
  display: none !important;
}

.theme-light .navbar-brand .logo-light {
  display: block !important;
}

.dark .navbar-brand .logo-light {
  display: none !important;
}

.dark .navbar-brand .logo-dark {
  display: block !important;
}

.dark .td-cod,
.dark .footer-wrap,
.dark .footer-wrap:before,
.dark .btn.style3,
.dark .service-wrap.style1::after,
.dark .bg-mystic,
.dark .promo-wrap.style3,
.dark .counter-card-wrap.style2,
.dark .checkout-promobox,
.dark .checkout-form,
.dark .bg-albastor,
.dark .loader {
  background-color: #191919 !important;
}

.dark body,
.dark .bg-white,
.dark .header-wrap.style1::after,
.dark .promo-wrap.style3::after,
.dark .search-area {
  background-color: #000 !important;
}

.dark .td-aztech,
.dark .contact-item,
.dark .bg-athens,
.dark .promo-card,
.dark .testimonial-card,
.dark .pricing-card,
.dark .hero-wrap.style1,
.dark .about-promo-box,
.dark .promo-box,
.dark .service-card.style1 .service-info,
.dark .register-form,
.dark .product-card,
.dark .team-card .team-member-info,
.dark .blog-card .blog-info,
.dark .hero-wrap.style2,
.dark .promo-card.style2 .promo-info,
.dark .service-card.style2 .service-info,
.dark .bg-selago,
.dark .breadcrumb-wrap,
.dark .project-card .project-info,
.dark .checkout-promo-box,
.dark .login-form-wrap,
.dark .wp-block-quote {
  background-color: #091315 !important;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark h3 a,
.dark a,
.dark .register-form .form-group label,
.dark .select-lang .navbar-language .dropdown-toggle::before,
.dark .checkout-details .select-payment-method div label,
.dark .btn:hover {
  color: #fff !important;
}

.dark p,
.dark span,
.dark .checkbox label,
.dark .content-feature-list li,
.dark .login-form .login-body .form-group label,
.dark .blog-card .blog-info .blog-metainfo li,
.dark article ol li,
.dark .terms-wrap ol li,
.dark article p strong,
.dark .terms-wrap p strong,
.dark .content-feature-list li,
.dark article ol li,
.dark .service-desc ol li,
.dark .terms-wrap ol li,
.dark .pricing-card .pricing-features li,
.dark .post-metainfo li {
  color: rgba(255, 255, 255, 0.85) !important;
}

.dark h3:hover a,
.dark a:hover,
.dark .copyright-text a {
  color: #1b7261 !important;
}

.dark .btn.style1:before,
.dark .btn.style1:after {
  background-color: #091315;
  border-color: rgba(255, 255, 255, 0.15);
}

.dark .btn.style2 {
  color: #051145 !important;
}

.dark .btn.style2:hover {
  color: #fff !important;
}

.dark .btn.style3:hover {
  color: #1b7261 !important;
}

.dark .btn.style4 {
  color: #1b7261 !important;
}

.dark .btn.style4:hover {
  color: #fff !important;
}

.dark .progress-wrap svg.progress-circle path {
  stroke: rgba(255, 255, 255, 0.6);
}

.dark .progress-wrap::after {
  color: #fff;
}

.dark article {
  border-color: rgba(255, 255, 255, 0.19);
}

.dark .tag-list ul li a {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.2);
  color: #fff !important;
}

.dark .tag-list ul li a:hover {
  background: #1b7261 !important;
  color: #fff;
  border-color: transparent;
}

.dark .or-text:before {
  background: rgba(255, 255, 255, 0.2);
}

.dark .or-text p {
  background-color: #091315;
}

.dark .header-wrap.style1 .header-top,
.dark .header-wrap.style2 .header-top {
  background-color: #000;
}

.dark .header-wrap.style1.sticky,
.dark .header-wrap.style1 .header-bottom,
.dark .header-wrap.style2 .header-bottom {
  background-color: #191919;
}

.dark .header-wrap.style1 .header-bottom .searchbtn i,
.dark .header-wrap.style1 .header-bottom .shopcart i,
.dark .header-wrap.style2 .header-bottom .searchbtn i,
.dark .header-wrap.style2 .header-bottom .shopcart i {
  color: #fff;
}

.dark .header-wrap.style3 .header-top {
  background-color: #191919;
}

.theme-dark
  .header-wrap.style3
  .header-top
  .header-top-right
  .social-profile:before {
  background: rgba(255, 255, 255, 0.15);
}

.theme-dark
  .header-wrap.style3
  .header-bottom
  .navbar
  .navbar-nav
  > .nav-item
  > a.active {
  color: #fff !important;
}

.theme-dark
  .header-wrap.style3
  .header-bottom
  .navbar
  .other-options
  .option-item
  .shopcart
  span {
  color: #1b7261 !important;
}

.dark .breadcrumb-wrap:after {
  background-color: rgba(0, 0, 0, 0.9);
}

.dark .header-wrap .navbar .other-options::before {
  background-color: rgba(255, 255, 255, 0.18);
}

.dark .accordion-item {
  background: transparent;
}

.dark .accordion-item .accordion-header .accordion-button {
  background-color: transparent;
  color: #fff;
}

.dark .accordion-item .accordion-header .accordion-button span {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.dark .search-area button i {
  color: #fff;
}

.dark .sidebar-widget {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.dark .sidebar-widget.style2 {
  border: none;
}

.dark .category-box.style1 li a {
  background-color: #091315;
}

.dark .category-box.style1 li a:hover {
  background-color: #1b7261;
  color: #fff !important;
}

.dark .product-quantity .qtySelector span {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.14);
}

.dark .product-quantity .qtySelector input {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
}

.dark .service-card.style3,
.dark .testimonial-card {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.dark .product-tablist .nav-item .nav-link {
  color: #fff;
}

.dark .product-tablist .nav-item .nav-link.active {
  color: #1b7261;
}

.dark .product-tab-content {
  background-color: #091315;
}

.dark .product-tab-content .product_features {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark .product-tab-content .product_features li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dark .product-tab-content .product_features li b {
  color: #fff;
}

.dark .client-review-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dark .cart-table table thead tr th {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.dark .cart-table table tbody {
  border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.dark .cart-table table tbody tr {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.dark .cart-table table tbody tr td {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
}

.dark .cart-table table tbody tr td .product-img {
  background-color: #091315;
}

.dark .cart-table table tbody tr td .cart-item {
  color: #fff;
}

.dark .cart-table table tbody tr td .cart-item:hover {
  color: #1b7261;
}

.dark .checkout-details {
  background-color: #091315;
}

.dark .cart-total.style2 {
  background-color: #091315;
}

.dark .cart-total .cart-total-wrap .cart-total-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.dark .cart-total .cart-total-wrap .cart-total-item:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.dark .cart-total .cart-total-wrap .cart-total-item p b,
.dark .cart-total .cart-total-wrap .cart-total-item span b {
  color: #fff;
}

.dark .cart-coupon {
  padding: 15px 15px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
}

.dark .checkout-promobox {
  background: #ecf0f2;
  padding: 15px;
  margin: 0 0 25px;
}

.dark .checkout-promobox i {
  color: #1b7261;
  position: relative;
  top: 4px;
  font-size: 20px;
  margin-right: 5px;
}

.dark .checkout-form {
  margin: 0 0 25px;
  padding: 25px;
  background-color: #091315;
}

.dark .checkout-form .checkout-box-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
}

.dark .checkout-form .form-group {
  margin: 0 0 15px;
}

.dark .checkout-form .form-group label {
  margin-bottom: 10px;
  display: block;
  color: #000;
}

.dark .checkout-form .form-group input,
.dark .checkout-form .form-group textarea {
  background: #fff;
  color: #000;
  width: 100%;
  padding: 13px 15px 13px 20px;
}

.dark .checkout-form .form-group input::-webkit-input-placeholder,
.dark .checkout-form .form-group textarea::-webkit-input-placeholder {
  opacity: 0.5;
}

.dark .checkout-form .form-group input:-ms-input-placeholder,
.dark .checkout-form .form-group textarea:-ms-input-placeholder {
  opacity: 0.5;
}

.dark .checkout-form .form-group input::-ms-input-placeholder,
.dark .checkout-form .form-group textarea::-ms-input-placeholder {
  opacity: 0.5;
}

.dark .checkout-form .form-group input::placeholder,
.dark .checkout-form .form-group textarea::placeholder {
  opacity: 0.5;
}

.dark .header-wrap.style1 .navbar .navbar-nav .nav-item a:hover,
.dark .header-wrap.style1 .navbar .navbar-nav .nav-item a:focus,
.dark .header-wrap.style1 .navbar .navbar-nav .nav-item a.active {
  color: #1b7261 !important;
}

.dark .btn.style4,
.dark .comment-item {
  border-color: rgba(255, 255, 255, 0.2);
}

.dark .post-author,
.dark #cmt-form,
.dark .contact-form,
.dark .pricing-card.style2,
.dark .comment-item-wrap .comment-item,
.dark .post-meta-option {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.dark input,
.dark textarea,
.dark #cmt-form .comment-form .form-group input,
.dark #cmt-form .comment-form .form-group textarea,
.dark #contactForm .form-group input,
.dark .register-form .form-group input,
.dark .client-review #cmt-form .form-group input,
.dark .client-review #cmt-form .form-group textarea,
.dark #contactForm .form-group textarea,
.dark .checkout-form .form-group input,
.dark .checkout-form .form-group textarea,
.dark .login-form-wrap .login-body .form-group input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}

.dark .client-review #cmt-form {
  border: none;
}

.dark .client-review #cmt-form .form-group input,
.dark .client-review #cmt-form .form-group textarea {
  background-color: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  color: #fff !important;
}

.dark .partner-item img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.dark .page-nav li a {
  border: 1px solid rgba(255, 255, 255, 0.28);
  background-color: transparent;
}

.dark .page-nav li a:hover {
  background-color: #1b7261;
  color: #fff !important;
}

.dark .login-form-wrap .login-form .form-group input,
.dark .contact-widget .form-group input,
.dark .contact-widget .form-group textarea,
.dark .search-box .form-group input,
.dark .appointment-form .form-group input,
.dark .appointment-form .form-group textarea,
.dark .appointment-form .form-group select {
  background-color: #000;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}

.theme-dark
  .login-form-wrap
  .login-form
  .form-group
  input::-webkit-input-placeholder,
.dark .contact-widget .form-group input::-webkit-input-placeholder,
.dark .contact-widget .form-group textarea::-webkit-input-placeholder,
.dark .search-box .form-group input::-webkit-input-placeholder,
.dark .appointment-form .form-group input::-webkit-input-placeholder,
.dark .appointment-form .form-group textarea::-webkit-input-placeholder,
.dark .appointment-form .form-group select::-webkit-input-placeholder {
  color: #fff;
}

.theme-dark
  .login-form-wrap
  .login-form
  .form-group
  input:-ms-input-placeholder,
.dark .contact-widget .form-group input:-ms-input-placeholder,
.dark .contact-widget .form-group textarea:-ms-input-placeholder,
.dark .search-box .form-group input:-ms-input-placeholder,
.dark .appointment-form .form-group input:-ms-input-placeholder,
.dark .appointment-form .form-group textarea:-ms-input-placeholder,
.dark .appointment-form .form-group select:-ms-input-placeholder {
  color: #fff;
}

.theme-dark
  .login-form-wrap
  .login-form
  .form-group
  input::-ms-input-placeholder,
.dark .contact-widget .form-group input::-ms-input-placeholder,
.dark .contact-widget .form-group textarea::-ms-input-placeholder,
.dark .search-box .form-group input::-ms-input-placeholder,
.dark .appointment-form .form-group input::-ms-input-placeholder,
.dark .appointment-form .form-group textarea::-ms-input-placeholder,
.dark .appointment-form .form-group select::-ms-input-placeholder {
  color: #fff;
}

.dark .login-form-wrap .login-form .form-group input::placeholder,
.dark .contact-widget .form-group input::placeholder,
.dark .contact-widget .form-group textarea::placeholder,
.dark .search-box .form-group input::placeholder,
.dark .appointment-form .form-group input::placeholder,
.dark .appointment-form .form-group textarea::placeholder,
.dark .appointment-form .form-group select::placeholder {
  color: #fff;
}

.dark .checkout-form .form-group select,
.dark .register-form .form-group select {
  background-color: #091315;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}

.dark select {
  background-image: url(../img/down-arrow-white.png);
}

.dark .login-form-wrap,
.dark .book-appointment-form {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 991px) {
  .dark .main-menu-wrap,
  .dark .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu {
    background-color: #091315;
  }
  .dark .menu-close i,
  .dark .header-wrap .navbar .navbar-nav .nav-item .menu-expand i {
    color: #fff !important;
  }
  .dark .header-wrap .navbar .navbar-nav .nav-item a.active,
  .dark .main-menu li a.active {
    color: #1b7261 !important;
  }
  .dark .main-menu li a.active,
  .dark .main-menu li a {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .theme-dark
    .header-wrap.style2
    .navbar
    .navbar-nav
    .nav-item
    .dropdown-menu
    li,
  .dark .header-wrap .navbar .navbar-nav .nav-item a {
    border-color: rgba(255, 255, 255, 0.2);
  }
}

@media only screen and (min-width: 992px) {
  .dark .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu,
  .dark .main-menu-wrap #menu ul li.has-children .sub-menu {
    background-color: #091315;
  }
  .dark .header-wrap .navbar .navbar-nav .nav-item a:hover,
  .dark .header-wrap .navbar .navbar-nav .nav-item a:focus,
  .dark .header-wrap .navbar .navbar-nav .nav-item a.active {
    color: #1b7261 !important;
  }
  .theme-dark
    .header-wrap.style2
    .navbar
    .navbar-nav
    .nav-item
    .dropdown-menu
    li {
    border-color: rgba(255, 255, 255, 0.15);
  }
}
